$corsepia: #aa7444;
$cordetalhes: #77442a;

body{
    background-color: $corsepia;
}

.divs_topicos{
    border-radius: 50%;
    background-color: $cordetalhes;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 70px;
    height: 70px;;
}